/* Theme Colours
  color: #191308;
  color: #322a26;
  color: #454b66;
  color: #677db7;
  color: #7fbdf7; */

body {
  margin: 0;
  font-family: 'Lucida Grande';
  text-align: center;
  scroll-behavior: smooth;
}
nav {
  /* keep the navigation fixed to the top of the page */
  position: fixed;
  top: 0;
  width: 100vw;

  /* remaining styles */
  background-color: #677db7;
  font-size: 2.5em;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.05em;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 1vh;
}
.transition {
  transition: all 0.5s ease;
  opacity: 0.7;
}
.bottom-nav {
  padding: 0 3vw;
  display: inline-block;
}
.transition:hover {
  /* background-color: #454b66;
  color: #7fbdf7; */
  opacity: 1;
  /* border-radius: 5px; */
  transform: scale(1.1);
}
.hero-img {
  height: 50vh;
  margin-top: 68px;
}
section {
  padding-top: 70px;
}
.profile {
  background-color: #322a26;
  padding-top: 7vh;
  color: #677db7;
  letter-spacing: 0.15em;
  height: 50vh;
  margin-top: -6px;
}
.profile img {
  border-radius: 50%;
}
.profile h1 {
  font-size: 2em;
  margin-bottom: 1vh;
}
.profile h2 {
  margin-top: 0;
}
.h3-class {
  margin: 0;
  padding: 3vh 0;
  color: rgba(232, 232, 232, 0.9);
  letter-spacing: 0.1em;
}
#about {
  background-color: #191308;
  color: #677db7;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 60vh;
}
#favourites {
  background-color: rgba(25, 19, 8, 0.8);
  padding-bottom: 27vh;
}
#favourites img {
  border-radius: 5px;
}
#favourites img:not(:first-child) {
  margin: 0 1vw;
}
#contact {
  background-color: rgba(25, 19, 8, 0.8);
  font-size: 2em;
  height: 10vh;
  padding-bottom: 50vh;
}
#contact a {
  text-decoration: none;
  color: rgba(232, 232, 232, 0.9);
}
#contact a:not(:first-child) {
  margin: 0 1vw;
}

/* On screens that are 600px or less, apply these styles */
@media screen and (max-width: 600px) {
  nav a {
    font-size: 0.7em;
  }
}
